# Class 23th August 13 - Functions

# FILTER

Syntax:
    filter(function, iterable)
filter() method returns an iterator that passed the function check for each element in iterable.

In [11]:
my_list = [1,5,4,6,8,11,3,12]
new_list = list(filter(lambda x: (x%2 == 0), my_list))
print(new_list)

li = [5,7,22,97,54,62,77,23,73,61]
final_list = list(filter(lambda x: (x%2 != 0), li))
print(final_list)

[4, 6, 8, 12]
[5, 7, 97, 77, 23, 73, 61]

# Filter with LAMBDA

In [14]:
dromes = ("demigod", "rewire" , "madam", "freer", "anutforajaroftuna", "kiosk")

palindromes = list(filter(lambda a: a == a[::-1], dromes))
palindromes

['madam', 'anutforajaroftuna']

In [16]:
a = "ankush"
a[::-1]

'hsukna'

In [18]:
list1 = [1,2,3,4,5,6,7,8,9,10]

even = list(filter(lambda n: n%2 ==0, list1))
odd = list(filter(lambda n: n%2 !=0, list1))

print('--------------------')
print(even)
print(odd)
print('--------------------')

--------------------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
--------------------

In [20]:
list2 = ['one', 'TWO', 'three', 'FOUR']

upper = list(filter(lambda x: x.isupper(), list2))
lower = list(filter(lambda x: x.lower(), list2))

print(upper)
print(lower)
print('--------------------')

['TWO', 'FOUR']
['one', 'TWO', 'three', 'FOUR']
--------------------

In [22]:
list3 = ['one', 'two2', 'three3', '88', '99', '102']

numeric = list(filter(lambda x: x.isnumeric(), list3))

alpha = list(filter(lambda x: x.isalpha(), list3))

alphanum = list(filter(lambda x: x.isalnum(), list3))

print(alpha)
print(numeric)
print(alphanum)

['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']

# List Comprehension

In [25]:
w = [i+i for i in "Madrid"]
w

['MM', 'aa', 'dd', 'rr', 'ii', 'dd']

In [27]:
"hassan"*3

'hassanhassanhassan'

In [33]:
A = [i*i for i in [1,2,3,4,5,6]]
A

[1, 4, 9, 16, 25, 36]

In [36]:
res = list(map(lambda x: x*x,[1,2,3,4,5,6]))
res

[1, 4, 9, 16, 25, 36]

In [38]:
y = [i*4 for i in [2,3,4,5,6,7,8,10] if i%2==0]
y

[8, 16, 24, 32, 40]

In [40]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 7 == 0]
num_list

[0, 14, 28, 42, 56, 70, 84, 98]

In [44]:
obj = [i if i%2==0 else 'good' for i in range(10)]
obj

[0, 'good', 2, 'good', 4, 'good', 6, 'good', 8, 'good']

In [46]:
mylist1 = [i for i in range(40) if i%2==0]  # Display all even numbers between 1-40
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [48]:
mylist2 = [i for i in range(40) if i%2==1]  # Display all odd numbers between 1-40
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [52]:
mylist3 = [num**2 for num in range(10)]
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
#List all number divisible by 3, 9 & 12 using nested "if" with list comprehension
mylist4 = [i for i in range(200) if i%3==0 if i%9==0 if i%12==0]
mylist4

[0, 36, 72, 108, 144, 180]