# Gonna have Fun in Learnig today 25 July Class 15

In [5]:
mystr = ('Happy '
        'Monday '
        'Everyone ')
print(mystr)

Happy Monday Everyone

In [11]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [13]:
len(mystr2)   #Length of string

35

In [23]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + " " + s2
print(s3)

Hello Asif

In [27]:
# String Membership

mystr1 = "Hello Everyone"
print('Hello' in mystr1) # Check whether substring "Hello" is present in string "mystr1".
print('Everyone' in mystr1) # Check whether substring "Everyone" is present in string "mystr1".
print('Hi' in mystr1) # Check whether substring "Hi" is present in string "mystr1".

True
True
False

In [31]:
mystr = "   Hello Everyone   "
mystr.replace("He" , "Ho") #Replace substring "He" with "Ho"

'   Hollo Everyone   '

In [1]:
mystr = "one two Three one two two three"
mystr.count("one")  # Number of times substring "one" occured in string.

2

In [37]:
mystr.count("two")  # Number of times substring "one" occured in string.

3

In [3]:
mystr.startswith("one")  # Return bolean value

True

# Combining string and number

In [45]:
item1 = 45
item2 = 67
item3 = 98

print("Cost of item1 is {} item2 is {} item3 is {}".format(item1,item2,item3))

Cost of item1 is 45 item2 is 67 item3 is 98

In [49]:
item1 = 45
item2 = 67
item3 = 98

print("Cost of item3 , item2 and item1 are {2} , {1} and {0}".format(item1,item2,item3))

Cost of item3 , item2 and item1 are 98 , 67 and 45

In [56]:
str2 = "WELCOME EVERYONE"
str2 = str2.center(100) 
print(str2)

                                          WELCOME EVERYONE

In [58]:
str2 = "WELCOME EVERYONE"
str2 = str2.center(100, '*') 
print(str2)

******************************************WELCOME EVERYONE******************************************

In [60]:
str2 = "KILER ANS"
str2 = str2.rjust(50) 
print(str2)

                                         KILER ANS

In [70]:
str2 = "KILER ANS"
str2 = str2.rjust(50, '$') 
print(str2)

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$KILER ANS

In [88]:
mystr6 = "123456789"
print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
True
True

In [92]:
mystr6 = "abc12309"
print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
False
False

In [96]:
mystr7 = 'ABCDEF'
print(mystr7.isupper())
print(mystr7.islower())

True
False

In [7]:
str6 = "one two three four one two three five six one ten eight ten" 
loc = str6.rfind("one") # Last occurence of word 'one' in string "str6"
print(loc)

42

In [112]:
loc = str6.rindex("ten") # Last occurence of word 'one' in string "str6"
print(loc)

56

In [108]:
txt  = "  abc  def ghi  "
txt.rstrip()

'  abc  def ghi'

# TUPLE

sequence data Structure

enclosed in ()

indexed , ordered

"immutable" ---- can not be changed once created


Qns:- what is the difference between list and tuple

Ans:- list is mutable and tuple is immutable

immutable ---- can not be changed once created

In [125]:
t1 = (12,23,34,45,56) # tuple of integers
t2 = ("how","are","you")
t3 = ((1,2),(2,3))

print(t1,t2,t3)

(12, 23, 34, 45, 56) ('how', 'are', 'you') ((1, 2), (2, 3))

In [127]:
# tuple constructor
# ----------------
t1 = tuple("Ankur")
t1

('A', 'n', 'k', 'u', 'r')

In [139]:
#Important
t2 = 12,23,34,45,56  # tuple packing

a,b,c,d,e = t2       # unpacking
print(a)
print(b)
print(c)
print(d)
print(e)

12
23
34
45
56

In [147]:
t3 = (12) # It is an integer
t4 = (12,) # single element tuple rule need to add comma after the element)
print(type(t3))
print(type(t4))

<class 'int'>
<class 'tuple'>

In [151]:
# accesing
# -------

t1 = (12,23,34,45,56)
print(t1[0])
print(t1[3])
print(t1[-1])
print(t1[-2])

12
45
56
45

In [153]:
# Updating
# --------

t1 = (12,23,34,44)
t2 = ("how" , "are")
print(t1+t2)

(12, 23, 34, 44, 'how', 'are')

In [155]:
# index() method

t1 = (12,23,34,45,56)
print(t1)
x=t1.index(23)
print(x)

(12, 23, 34, 45, 56)
1

In [159]:
# adding one element in the tuple

t1=(1,2,3,4,5,6,77)
ls=list(t1)
ls.append(98)
t1=tuple(ls)
print(t1)

(1, 2, 3, 4, 5, 6, 77, 98)

In [163]:
# update an element in the tuple
t1=(1,2,3,4,5,6,77)
ls=list(t1)
ls[2]='hello'
t1=tuple(ls)
print(t1)

(1, 2, 'hello', 4, 5, 6, 77)