In [13]:
"Zulfiqar Ansari was here! Class 11th 18th July"

'Zulfiqar Ansari was here! Class 11th 18th July'

In [17]:
# LIST METHODS
# -------------

# append()
# --------
# it is used to insert one element in the list a time.
# element is always inserted at the end of the list.

# ls.append(value)  -----Syntax

ls=[12,23,34,45,56]
print(ls)
ls.append(98)
print(ls)
ls.append([87,76,65])
print(ls)

[12, 23, 34, 45, 56]
[12, 23, 34, 45, 56, 98]
[12, 23, 34, 45, 56, 98, [87, 76, 65]]

In [25]:
# make list of 10 elements of your choice
ls = []
for i in range(10):
    n = int(input("Enter the number: "))
    ls.append(n)

print(ls)

Enter the number:  45
Enter the number:  56
Enter the number:  67
Enter the number:  78
Enter the number:  90
Enter the number:  12
Enter the number:  34
Enter the number:  56
Enter the number:  12
Enter the number:  43

[45, 56, 67, 78, 90, 12, 34, 56, 12, 43]

In [29]:
# make separate list of odd and even numbers
ls = []
ls_e=[]
ls_o=[]
for i in range(10):
    n = int(input("Enter the number: "))
    ls.append(n)

for i in ls:
    if i%2==0:
        ls_e.append(i)
    else:
        ls_o.append(i)

print(ls)
print(ls_e)
print(ls_o)

Enter the number:  12
Enter the number:  21
Enter the number:  22
Enter the number:  32
Enter the number:  34
Enter the number:  45
Enter the number:  65
Enter the number:  67
Enter the number:  77
Enter the number:  88

[12, 21, 22, 32, 34, 45, 65, 67, 77, 88]
[12, 22, 32, 34, 88]
[21, 45, 65, 67, 77]

In [45]:
# Find the maximum element in the list
ls = []
for i in range(5):
    n = int(input("Enter the number: "))
    ls.append(n)

print("The largest element is", max(ls))
print("The smallest element is", min(ls))


print("\n")
#Explaination:
big=ls[0]
for i in ls:
    if i>big:
        big=i
print("Max element is",big)

sm=ls[0]
for i in ls:
    if i<sm:
        sm=i
print("Min element is",sm)

Enter the number:  12
Enter the number:  23
Enter the number:  34
Enter the number:  55
Enter the number:  99

The largest element is 99
The smallest element is 12


Max element is 99
Min element is 12

In [47]:
# Find maximum and minimum elements in the list
ls = []
for i in range(5):
    n = int(input("Enter the number: "))
    ls.append(n)

# Initialize the smallest and largest elements
sm = ls[0]
big = ls[0]

# Iterate through the list to find the smallest and largest elements
for i in ls:
    if i > big:
        big = i
    if i < sm:
        sm = i

print("The largest element is", big)
print("The smallest element is", sm)

Enter the number:  34
Enter the number:  45
Enter the number:  43
Enter the number:  12
Enter the number:  33

The largest element is 45
The smallest element is 12

In [65]:
# extend()
# -------

# it is used to insert more than one element at a time in the list.
# elements are always inserted at the end of the list.
ls=[12,23,34,45,56,67]
print(ls)
ls.extend([98,87,65])
print(ls)

#Concatenation:
A = [1,3,5,7]
B = [2,4,6,8]
A.extend(B)
A

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67, 98, 87, 65]

[1, 3, 5, 7, 2, 4, 6, 8]

In [67]:
# insert()
# --------
# it is also used to insert an element in the list.
# but by this method you can insert element at desired location.

ls=[12,23,34,45,56,67,78]
print(ls)
ls.insert(3,"Shivaji")
print(ls)

[12, 23, 34, 45, 56, 67, 78]
[12, 23, 34, 'Shivaji', 45, 56, 67, 78]