# Class 20th August 6 - Functions

# Return Type function

def function_name(arg1,arg2,...):
    statement / logic
    return value / values

var = fucntion_name(arg1,arg2)
print(var)

print(function_name(arg1,arg2))

In [8]:
def sums(a,b):
    return a+b

# 1st way
c = sums(23,34)
    print("the sum is ",c)

# 2nd way
print("the sum is ",sums(23,34))

the sum is  57
the sum is  57

In [3]:
def mathop(a,b):
    return a+b, a-b, a*b, a/b

x = mathop(54,12)
print(x)

(66, 42, 648, 4.5)

In [12]:
type(x)

tuple

In [5]:
s, sb, m, d = mathop(54,12)
print("the sum is ",s)
print("the sub is ",sb)
print("the mul is ",m)
print("the div is ",d)

the sum is  66
the sub is  42
the mul is  648
the div is  4.5

In [7]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f = f*i
    return f

In [9]:
res = fact(7)
print("the factorial is ",res)
print("the factorial is ", fact(8) )

the factorial is  5040
the factorial is  40320

# Placeholder argument

In [18]:
def sums(a, b=600, c=700):
    return a+b+c

print(sums(100))   #1400
print(sums(200,400))  #1300
print(sums(12,23,34)) #69

1400
1300
69

In [24]:
def datascience(a,b,c,d,e):
    return (a+b,a*b)

In [22]:
datascience(2,4,6,7,5)

(6, 8)

In [26]:
def hello(a,b):
    return("my name is {} and gender is {}".format(a,b))

In [34]:
hello("Sahil","male")

'my name is Sahil and gender is male'

In [36]:
def add(a,b=100):
    return(a+b)

In [38]:
add(1000)

1100

In [44]:
def addition(a,b=700,c=600):
    return a+b+c
print(addition(300))
print(addition(a=400,c=500))
print(addition(100,2000,3000))

1600
1600
5100

In [48]:
def hello(name, age=29, gender="male"):
    return("my name is {} and age is {} and my gender is {}".format(name,age,gender))

In [50]:
hello("eshank")

'my name is eshank and age is 29 and my gender is male'

# FORMAT OF args,kwargs
1. unpacking operators are operators that unpack the value from iterable objects in python.
2. The single asterisk operator* can be used on any iterable that Python provides,
3. while the double asterisk operator** can only be used on dictionaries.

In [53]:
u =[1,2,3]

In [55]:
u

[1, 2, 3]

In [57]:
print(*u)

1 2 3

In [59]:
a, *b, c = [1,2,3,2,3,4,5,6,78,63,4]

In [61]:
a

1

In [63]:
c

4

In [67]:
print(*b)

2 3 2 3 4 5 6 78 63

In [71]:
*a, b, c = [1,2,3,2,3,4,5,6,78,63,4]

In [73]:
a

[1, 2, 3, 2, 3, 4, 5, 6, 78]

In [75]:
a, b, *c = [1,2,3,2,3,4,5,6,78,63,4]

In [77]:
c

[3, 2, 3, 4, 5, 6, 78, 63, 4]

In [79]:
print(*c)

3 2 3 4 5 6 78 63 4

In [93]:
A = [1,2,3]
B = [4,5,6]
C = [A,B]
C

[[1, 2, 3], [4, 5, 6]]

In [97]:
D = [*A,*B]
D

[1, 2, 3, 4, 5, 6]

In [99]:
a = [*"realpython"]
a

# b=list("realpython")
# b

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

In [107]:
d1 = {"A":1,"B":2}
d2 = {"C":3,"D":4,"F":6}

In [109]:
d1.update(d2)

In [111]:
d1

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'F': 6}

In [117]:
d1 = {"A":1,"B":2}
d2 = {"C":3,"D":4,"E":5}
d3 = {**d1,**d2}
d3

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [5]:
d1 = {"A":1,"B":2}
d2 = {"C":3,"D":4,"E":5}
d3 = {**d1,**d2}
d3

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [137]:
def my_sum(*a):
    result = 0
    for i in a:
        result += i
    return result

In [139]:
list1 = [1,2,3]
list2 = [4,5]
list3 = [6,7,8,9]

my_sum(*list1,*list2,*list3)

45

In [141]:
mylist = [1,2,3,4,6,7]
my_sum(*mylist)

23