In [67]:
"Zulfiqar Ansari was here! Class 12th 22th July"

'Zulfiqar Ansari was here! Class 12th 22th July'

In [7]:
# Copy()
# -----
# It is also called a shallow copy

ls=[12,23,34,45,56,67]
ls2=ls
print(ls)
print(ls2)
ls[3]="ayush"
print(ls)
print(ls2)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'ayush', 56, 67]
[12, 23, 34, 'ayush', 56, 67]

In [11]:
ls=[12,23,34,45,56,67]
ls2=ls.copy()
print(ls)
print(ls2)
ls[3]="ayush"
print(ls)
print(ls2)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'ayush', 56, 67]
[12, 23, 34, 45, 56, 67]

In [19]:
# reverse()
# ----------

ls=[12,23,34,45,56,67]
print(ls)
ls.reverse()
print(ls)

#slice operator
print(ls[::-1])

[12, 23, 34, 45, 56, 67]
[67, 56, 45, 34, 23, 12]
[12, 23, 34, 45, 56, 67]

In [31]:
# sort()
# ------
# it arranges all the elements of the list in ascending order.
# if you want to arrange elements in descending order then write reverse=True

ls=[12,404,45,16,67]
print(ls)
ls.sort()
print(ls)
ls.sort(reverse=True)
print(ls)

[12, 404, 45, 16, 67]
[12, 16, 45, 67, 404]
[404, 67, 45, 16, 12]

In [49]:
# count()
# --------

# return the frequency of the element in the list.

ls=[12,23,34,45,56,67,23,45,56,23]
print(ls)
x=ls.count(23)
print(x)

# to create a unique list
x=[]
for i in ls:
    if i not in x:
        x.append(i)
print(x)
print(ls)


# count all
for i in x:
    print(i,"is found",ls.count(i),"times")

[12, 23, 34, 45, 56, 67, 23, 45, 56, 23]
3
[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67, 23, 45, 56, 23]
12 is found 1 times
23 is found 3 times
34 is found 1 times
45 is found 2 times
56 is found 2 times
67 is found 1 times

In [53]:
# USING in build Counter 
from collections import Counter

In [63]:
ls=[1,2,3,4,5,6]
ls1=[3,4,5,6,7,8]
co=Counter(ls)
co2=Counter([3,4,5,6,7,8])
print(co)
print(co2)

Counter({1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1})
Counter({3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1})

In [71]:
max(["sahil","shivaji","avantika","mansi","dhruv"])

'shivaji'

In [75]:
max(["x","X","y","Y"])

# a-z-------95
# A-Z ------65

'y'

In [7]:
for i in range(65,97):
    print(i,"=",chr(i))

65 = A
66 = B
67 = C
68 = D
69 = E
70 = F
71 = G
72 = H
73 = I
74 = J
75 = K
76 = L
77 = M
78 = N
79 = O
80 = P
81 = Q
82 = R
83 = S
84 = T
85 = U
86 = V
87 = W
88 = X
89 = Y
90 = Z
91 = [
92 = \
93 = ]
94 = ^
95 = _
96 = `

In [11]:
list=['Asif',25,[50,100],[150,90]]   
print(list[2][1])
len(list)

100

4

In [91]:
# sorted(mylist)
ls=[12,404,45,16,67]
print(ls)
sorted(ls) # return a new sorted list and does not change original list.

[12, 404, 45, 16, 67]

[12, 16, 45, 67, 404]

In [97]:
# # All/Any
# the all() method returns:
# True - If all elements in a list are true
# False - If any element in a list is false

# The any() function returns true if any element in the list is True. If not, any() returns False.

L1 = [1,2,3,4,0]
all(L1) # Will return false as one value is false (Value 0)

False

In [101]:
any(L1) # Will return True as we have items in the list with True value)

True

In [107]:
ls=[]
all(ls)

True

In [109]:
any(ls)

False

In [111]:
L = ['Amit','Sumit','Naina']
print(L[1:-1])

['Sumit']

In [113]:
print(L*2) # When ever we multiply any list or string witth any number it will repeat n times
# * is repeatition operator

['Amit', 'Sumit', 'Naina', 'Amit', 'Sumit', 'Naina']