# Class 9 July 15
- for loop programmes
- Star print
- Vowel check
- Prime number
- Palindrome

In [28]:
for i in range(10):
    print(i,end=" ")
print("\n")
for i in range(1,11):
    print(i,end=" ")
print("\n")
for i in range(1,100,4):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

1 2 3 4 5 6 7 8 9 10

1 5 9 13 17 21 25 29 33 37 41 45 49 53 57 61 65 69 73 77 81 85 89 93 97

In [30]:
#print your name 10 times
for i in range(10):
    print("Ansari")

Ansari
Ansari
Ansari
Ansari
Ansari
Ansari
Ansari
Ansari
Ansari
Ansari

In [42]:
#print first 10 natural number
for i in range(1,11):    #Range----1 to 10 leaving 11
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [48]:
#print only even numbers
for i in range(2,100,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [50]:
#print only even numbers
for i in range(1,100):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [54]:
#Sum of even and odd number separately
start_range=int(input("Start range"))
end_range=int(input("End range"))

se=0
so=0
for i in range(start_range,end_range):
    if i%2==0:
        
        se=se+i
    else:
        so=so+i
print("the sum of even number is ",se)
print("the sum of odd number is ",so)

Start range 1
End range 101

the sum of even number is  2550
the sum of odd number is  2500

In [70]:
# Factorial

n=int(input("enter the number"))
f=1
for i in range(1,n+1):
    f=f*i
print("the factorial is",f)

enter the number 6

the factorial is 720

In [76]:
# Factorial

n=int(input("enter the number"))
f=1
for i in range(n,0,-1):    #Decrement
    f=f*i
    
print("the factorial is",f)

enter the number 6

the factorial is 720

In [86]:
# factors
n=int(input("enter the number"))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

enter the number 56

1 2 4 7 8 14 28 56

In [3]:
a=(1,2,3,4,56,7)

for i in a:
    if i%2==0:
        print(i)
    else:
        print("Not Even")

Not Even
2
Not Even
4
56
Not Even

In [102]:
s1='*'
for i in range(6): #0 1 2 3 4 5
    print(s1*i)

*
**
***
****
*****

In [116]:
#spacing lining
st="iit madaras"
for t in st:
    print(t,end="@")   # \n new line    \t for tabbed spaces

i@i@t@ @m@a@d@a@r@a@s@

In [37]:
st="iit madaras"
for t in st:
    print(t,end="\n")   # \n new line    \t for tabbed spaces

i
i
t

m
a
d
a
r
a
s

In [120]:
st="iit madaras"
for t in st:
    print(t,end="\t")   # \n new line    \t for tabbed spaces

i	i	t	 	m	a	d	a	r	a	s

In [132]:
a="hello everyone how are you"
vowel=["a","i","e","o","u"]
for i in a:
    if i in vowel:
        print(i,end=" ")

e o e e o e o a e o u

In [140]:
word="hello1"

for w in word:
    if w=="l":
        print("It's L")
else:
        print("Not L")

It's L
It's L
Not L

In [144]:
name="arpit"

for i in name:
    if i=="p":
        print("thats great")
    print(i)
    print("hello")


print(i)

a
hello
r
hello
thats great
p
hello
i
hello
t
hello
t

In [160]:
#Prime number in range
for i in range(2,100):
    n=i
    j=1
    co=0
    while j<=n:
        if n%j==0:
            co=co+1
        j=j+1
    if co==2:
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [3]:
#Palindrome number in range
for i in range(11,1000):
    n=i
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
        
    if rev==i:
        print(i,end=" ")

11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

# NEXT TOPIC -  LIST