# CLass 7th July 10
While loop based Questions
 - print name 10 times
 - print 1 - 10
 - print sum of 10 natural number
 - print sum of even and odd number separately
 - table of a given number
 - factors of a numbers

In [7]:
#Done by (Classmate) Sahil
def printTable(num, limit=10):
    for i in range(1, limit+1):
        print(num, "x", i, "=", num*i)

printTable(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [9]:
#print your name 10 times
i=1
while i<=10:
    print("ANsari")
    i=i+1

ANsari
ANsari
ANsari
ANsari
ANsari
ANsari
ANsari
ANsari
ANsari
ANsari

In [11]:
# print 1 - 10 
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [15]:
 #print 1 - 10 
i=1
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [17]:
#print sum of 10 natural numbers
i=1
s=0
while i<=10:
    s=s+i
    i=i+1
print("the sum is ",s)

the sum is  55

In [19]:
#print only even number
i=1
while i<=200:
    if i%2==0:
        print(i,end=" ")
    i=i+1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

In [21]:
#print only odd number
i=1
while i<=200:
    if i%2==1:
        print(i,end=" ")
    i=i+1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199

In [23]:
#print only odd number
i=1
while i<=200:
    if i%2!=0:
        print(i,end=" ")
    i=i+1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199

In [33]:
#Sum of even and odd number separately
start_range=int(input("Start range"))
end_range=int(input("End range"))
i=1
se=0
so=0
while i<=end_range:
    if i%2==0:
        se=se+i
    else:
        so=so+i
    i=i+1
print("the sum of even number is ",se)
print("the sum of odd number is ",so)

Start range 1
End range 100

the sum of even number is  2550
the sum of odd number is  2500

In [37]:
#table of a given number

#2*1=2
#2*2=4
#2*3=6

i=1
n=int(input("enter the number"))
while i<=10:
    print(n*i)
    i=i+1

enter the number 8

8
16
24
32
40
48
56
64
72
80

In [41]:
#table of a given number
i=1
n=int(input("enter the number"))
while i<=10:
    print(n, "x", i, "=", n*i)
    i=i+1

enter the number 45

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [3]:
#divisors or factors of a given number

n=int(input("enter the number"))
i=1
print("Factors are")
while i<=n:
    if n%i==0:
        print(i, end=" ")
    i=i+1

enter the number 17

Factors are
1 17