# Class 21th August 7 - Functions

# Enumerate

Syntax:

enumerate(iterable, start=0)

Parameters:
Iterable: any obejct that supports iteration
Start: the index value from which the counter is to be started, by default it is 0

In [3]:
#L1 = ["DL","ML","NLP"]
s1 = "PYTHON"
list(enumerate(s1))

[(0, 'P'), (1, 'Y'), (2, 'T'), (3, 'H'), (4, 'O'), (5, 'N')]

In [5]:
s1 = "PYTHON"
list(enumerate(s1,5))

[(5, 'P'), (6, 'Y'), (7, 'T'), (8, 'H'), (9, 'O'), (10, 'N')]

In [9]:
l1 = ["DL","ML","NLP"]
ls = list(enumerate(l1,5))
ls

[(5, 'DL'), (6, 'ML'), (7, 'NLP')]

In [11]:
l1 = ["DL","ML","NLP"]
ls = list(enumerate(l1,-1))
ls

[(-1, 'DL'), (0, 'ML'), (1, 'NLP')]

In [13]:
l1 = ["DL","ML","NLP"]

for i,j in enumerate(l1):
    if i<2:
        print(j,i)

DL 0
ML 1

# ZIP  Functions

zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

SYNTAX:- zip(iterator1, iterator2, iterator3 ...)

In [18]:
a = ["John","Peter","Nishant"]
b = ["Jenny","AShwin"]

In [20]:
list(zip(a,b))

[('John', 'Jenny'), ('Peter', 'AShwin')]

In [22]:
a = "ANSARI"
b = "ZULFIQAR"

In [24]:
list(zip(a,b))

[('A', 'Z'), ('N', 'U'), ('S', 'L'), ('A', 'F'), ('R', 'I'), ('I', 'Q')]

In [26]:
number_list = [1,2,3,3]
str_list = ['one', 'two', 'three', 'three']

result = list(zip(number_list,str_list))
print(result)

# Converting itertor to set
result_set = set(result)
print(result_set)

[(1, 'one'), (2, 'two'), (3, 'three'), (3, 'three')]
{(2, 'two'), (1, 'one'), (3, 'three')}

In [32]:
numbersList = [1,2,3]
str_list = ["one","two"]
numbers_tuple = ['ONE','TWO', 'THREE', 'FOUR']

result = zip(numbersList, numbers_tuple)
print(list(result))

result1 = zip(numbersList, str_list, numbers_tuple)
print(list(result1))

[(1, 'ONE'), (2, 'TWO'), (3, 'THREE')]
[(1, 'one', 'ONE'), (2, 'two', 'TWO')]

# Lambda Functions

In [39]:
def kevin(a):
    return(a+10)

In [41]:
kevin(10)

20

In [43]:
x = lambda a : a+10   # Lambda avr : expression(annonymous)

x(1000)

1010

In [45]:
z = lambda a, b, c : a + b + c

z(10,20,30)

60

In [47]:
a =lambda x: x+2

a(10)

12

In [49]:
hassan = lambda x:x+2

In [51]:
hassan(100)

102

In [53]:
#PEMDAS Parenthis, Exponent, Multiplication, Division, Addition, Substraction
ismail = lambda a, b, c : a+b*c    # a+(b+c*d)+f(/(a*b))

ismail(7339,838,453)

386953

# IF & ELSE Condition with LAMBDA

In [56]:
a = lambda x : x*2 if x%2==0 else x  # true if false

In [58]:
a(32)

64

# MAP Function

A function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.).


Syntax:
   map(fun, iter)

PARAMETERS:-

fun: it is a function to which map passes each element of given iterable.
iter: it is a iterable which is to be mapped.

In [61]:
number = [1,2,3,4]
list(map(lambda x : x+x, number))

# output ------ [1+1,2+2,3+3,4+4]

[2, 4, 6, 8]

In [63]:
def addition(n):
    return(n*2)

In [65]:
number = [12,23,34,56]
list(map(addition, number))   # list(map(lambda x : x*2,number))

[24, 46, 68, 112]

In [67]:
num1 = [1,2,3]
num2 = [4,5,6]
num3 = [1,3,4]

result = map(lambda x, y, z: x + y + z, num1, num2, num3)
list(result)

[6, 10, 13]

In [71]:
my_mates = ['sahil','dhruv','sajid','ayush']
list(map(lambda x : x.upper(),my_mates))

['SAHIL', 'DHRUV', 'SAJID', 'AYUSH']