# Gonna have Fun in Learnig today 1 Aug Class 18

# SETS

1. Unordered & Unindexed collection of items.
2. Set elements are unique. Duplicate elements are not allowed.
3. Set elements are immutable (cannot be changed).
4. Set itself is mutable. We can add or remove items from it.

# Set Creation

In [10]:
myset = {1,2,3,4,5}  # Set of numbers
myset

{1, 2, 3, 4, 5}

In [12]:
len(myset) #Length of the set

5

In [14]:
myset = {1,1,2,2,3,4,5,5} 
myset         # Duplicate elements are not allowed

{1, 2, 3, 4, 5}

In [16]:
myset1 = {1.78,2.07,3.99,4.45,5.33} # Set of float numbers
myset1

{1.78, 2.07, 3.99, 4.45, 5.33}

In [18]:
myset2 = {'Asif', 'John', 'Tyrion'}  # Set of strings
myset2

{'Asif', 'John', 'Tyrion'}

In [28]:
myset3 = {10,20, 'Hola',(11,22,32)}  #mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [30]:
myset3 = {10,20, 'Hola',[11,22,32]}  # set does not allow mutablle items 
myset3  # [11,22,32] is LIST ---- its mutable so we get error

TypeError: unhashable type: 'list'

In [34]:
myset4 = set()  # Create an empty set
print(type(myset4))

<class 'set'>

In [42]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

# loop through set

In [13]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven' , 'eight'}

print(myset)

{'five', 'four', 'six', 'two', 'seven', 'three', 'one', 'eight'}

In [15]:
'one' in myset # Check if 'one' exist in the set

True

In [17]:
'ten' in myset # Check if 'ten' exist in the set

False

# Add & Remove Items

In [20]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [22]:
myset.add('NINE')   # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [24]:
myset.update(['TEN', 'ELEVEN', 'TWELVE']) # Add multiple item in a set using update() method
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [26]:
myset.remove('NINE')  # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [70]:
myset.discard('TEN')  # remove item in a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

# Difference btw remove() and discard()

Use remove() if you want to ensure the element is removed and you want to be notified (via an exception) if the element was not present.

Use discard() if you want to remove the element if it exists but do not want to deal with an exception if the element is not present.

In [28]:
myset.remove('fifty')
myset

KeyError: 'fifty'

In [30]:
myset.discard('fifty')
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [83]:
myset.clear() # Delete all items of set
myset

set()

In [101]:
del myset  # Delete the set object
myset

NameError: name 'myset' is not defined

# Copy Set

check previous copy example in previous classes

# Set operation

Union

In [109]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [113]:
A|B # Union of A and B (All elements from both sets NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [115]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [117]:
A.union(B,C)  # Union of A, B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Updates the set calling the update() method with union of A, B and C

In [122]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [125]:
A.intersection(B)    # Intersection of A and B

{4, 5}

Difference

In [128]:
A - B  # set of elements that are only in A but not in B

{1, 2, 3}

In [130]:
A.difference(B)  # Difference of sets

{1, 2, 3}

In [132]:
B - A

{6, 7, 8}

In [136]:
B.difference(A)

{6, 7, 8}

# Functions
A function is a block of organized code written to carry out a specified task.

Functions help break our program into smaller and modular chunks for better readability.

Information can be passed into a function as arguments.

Parameters are specified after the function name inside the parentheses.

We can add as many parameters as we want. Parameters must be separated with a comma.

A function may or may not return data.

In Python, a function is defined using the 'def' keyword.

# Parameter VS Argument
- A parameter is the variable listed inside the parantheses in the fucntion definition.
- An argument is the value that is sent to function when it is called.